@keyframes border-glow {
    0% {
        border-color: rgba(255, 255, 255, 0.1);
    }

    50% {
        border-color: rgba(255, 255, 255, 0.2);
    }

    100% {
        border-color: rgba(255, 255, 255, 0.1);
    }
}

.animate-border-glow {
    animation: border-glow 3s infinite ease-in-out;
}