/* body {
    cursor: none;
} */

.mouse-cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50px;
    visibility: hidden;
}

.cursor-outer {
    width: 40px;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 9999;
    -webkit-transition: all .075s ease-out;
    transition: all .075s ease-out;
    border-radius: 50px;
    border: 3px solid #0fa29b !important;
}

.cursor-outer.cursor-hover {
    opacity: 0;
}

.cursor-inner {
    width: 8px;
    height: 8px;
    z-index: 10000001;
    background-color: #0fa29b;
    transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
}

.cursor-inner.cursor-hover {
    width: 80px;
    height: 80px;
    background-color: white;
    opacity: 1;
    mix-blend-mode: exclusion;
    z-index: 9999;
}