body {
    cursor: none;
}

.mouse-cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50px;
    visibility: hidden;
}

.cursor-outer {
    margin-left: -15px;
    margin-top: -15px;
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-main);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 9999;
    opacity: .5;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #12c2e9, #D641A7, #F64F59) border-box;
    border-radius: 50px;
    border: 2px solid transparent !important;
}

.cursor-outer.cursor-hover {
    opacity: 0;
}

.cursor-inner {
    margin-left: 2px;
    margin-top: 2px;
    width: 6px;
    height: 6px;
    z-index: 10000001;
    background-color: #12c2e9;
    transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
}

.cursor-inner.cursor-hover {
    margin-left: -40px;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    background-color: white;
    opacity: 1;
    mix-blend-mode: exclusion;
    z-index: 9999;
}