@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin: 0;
}

html,
body {
    background: #040404;
    overflow-x: hidden;
}

body {
    background: #040404;
    color: #fff;
    transition: width 0.5s ease-in-out;
    width: 100%;
    min-height: 100vh;
    @apply transition-colors duration-300 bg-lightBg text-lightText dark:bg-darkBg dark:text-darkText;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0px;
}

body:hover::-webkit-scrollbar-thumb {
    background-color: #555;
}

.transition-theme {
    transition: color .3s ease background-color .3s ease;
}

.transition-theme-text {
    transition: color .3s ease;
}

@layer utilities {
    .text-stroke {
        background-image: linear-gradient(to right, #DDDDDD, #DDDDDD);
        background-clip: text;
        -webkit-text-stroke-color: transparent;
        padding: 0 0px;
    }
}

.animate-slideUp {
    animation: slideUp 0.8s ease-out forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}