@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin: 0;
}

html,
body {
    background-color: #000;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: hidden;
}

body {
    background-color: #000;
    color: white;
    width: 100%;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

textarea {
    resize: none;
}

@layer components {
    .container-wide {
        @apply container;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .container-fluid {
        margin-left: auto;
        margin-right: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@layer utilities {
    .text-stroke {
        -webkit-text-stroke: 1px rgb(255, 255, 255);
        color: black;
    }

    .text-stroke-black {
        -webkit-text-stroke: 1px rgb(0, 0, 0);
        color: white;
    }

    .text-stroke-trans {
        -webkit-text-stroke: 1px rgb(0, 0, 0);
        color: transparent;
    }

    .text-stroke-unbounded {
        background-image: linear-gradient(to right, #DDDDDD, #DDDDDD);
        background-clip: text;
        -webkit-text-stroke-color: transparent;
    }

    .text-stroke-unbounded-black {
        background-image: linear-gradient(to right, #272727, #272727);
        background-clip: text;
        -webkit-text-stroke-color: transparent;
    }

}

.max-h-hero {
    max-height: 990px;
}


/* Áp dụng cho màn hình >= 768px (md breakpoint) */
@media (min-width: 768px) {
    .vertical-label {
        writing-mode: vertical-lr;
        text-orientation: mixed;
        transform: rotate(180deg) translateX(0px);
    }
}