@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html,
body {
    background-color: #000;
    overflow-x: hidden;
}

body {
    background-color: #000;
    color: white;
    width: 100%;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0px;
}

body:hover::-webkit-scrollbar-thumb {
    background-color: #555;
}

textarea {
    resize: none;
}

@layer components {
    .container-wide {
        @apply container;
        max-width: 1780px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@layer utilities {
    .text-stroke {
        -webkit-text-stroke: 1px rgb(255, 255, 255);
        color: black;
    }

    .text-stroke-black {
        -webkit-text-stroke: 1px rgb(0, 0, 0);
        color: white;
    }

    .text-stroke-unbounded {
        background-image: linear-gradient(to right, #DDDDDD, #DDDDDD);
        background-clip: text;
        -webkit-text-stroke-color: transparent; 
    }
}

.animate-slideUp {
    animation: slideUp 0.8s ease-out forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}