#slider button.active {
    width: 130px;
}

#slider button.active span {
    opacity: 0.7;
}

#slider .slide-image {
    visibility: hidden;
    opacity: 0;
}

#slider .slide-image.active {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}

#slider .slide-image.previous-slide {
    transform: translateX(-100%);
}

#slider .slide-image.next-slide {
    transform: translateX(100%);
}

#slider .slide-text.active {
    opacity: 1;
}

#slider .slide-text.active {
    animation: slideTop 300ms 300ms 300ms;
}

@keyframes slideTop {
    from {
        transform: translateY(-100%)
    }

    to {
        transform: translateY(0)
    }
}